<div class="form-container">
    <h1 class="form-title"> Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <span *ngIf="loginForm.get('email')?.hasError('required')">Email is required</span>
                    <span *ngIf="loginForm.get('email')?.hasError('email')">Invalid email</span>
                  </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <span *ngIf="loginForm.get('password')?.hasError('required')">Password is required</span>
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        
    </form>
</div>