<div class="form-container">
<h1 class="form-title"> SignUp</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="example-form">
    <div>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name">
      <mat-error *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
        Name is required
      </mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field class="example-full-width">
      <mat-label>Mobile No</mat-label>
      <input matInput formControlName="mobileNo" placeholder="Enter your mobile number" type="tel">
      <mat-error *ngIf="signupForm.get('mobileNo')?.invalid && signupForm.get('mobileNo')?.touched">
        <span *ngIf="signupForm.get('mobileNo')?.hasError('required')">Mobile number is required</span>
        <span *ngIf="signupForm.get('mobileNo')?.hasError('pattern')">Invalid mobile number</span>
      </mat-error>
    </mat-form-field>
    </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" type="email">
      <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        <span *ngIf="signupForm.get('email')?.hasError('required')">Email is required</span>
        <span *ngIf="signupForm.get('email')?.hasError('email')">Invalid email</span>
      </mat-error>
    </mat-form-field>
    </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter your password" type="password">
      <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        <span *ngIf="signupForm.get('password')?.hasError('required')">Password is required</span>
        <span *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</span>
      </mat-error>
    </mat-form-field>
  </div>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Submit</button>
  </form>
 </div>
 <app-sidenav></app-sidenav>
 
  