.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-title {
    text-align: center;
  }
  
  .example-form {
    width: 300px;
    margin-top: 20px;
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 20px; /* Add padding for spacing */
  }
  
  .example-form mat-form-field {
    width: 100%;
  }
  
  .example-form input {
    border: none; /* Remove default input border */
    border-radius: 5px; /* Add border-radius for input */
    padding: 10px; /* Add padding for spacing */
    outline: none; /* Remove outline on focus */
    box-sizing: border-box; /* Include padding and border in input size */
  }
  
  .example-form button {
    width: 100%;
    margin-top: 20px;
  }
  